
@import url("https://fast.fonts.net/t/1.css?apiType=css&projectid=dfafd5d6-34ad-4e39-9831-5166069cb8ab");


@font-face{
    font-family:"Cabrito Sans W01 Ext Light";
    src:url("/assets/fonts/8d728fb6-34b2-4252-92cd-6223bec46b53.eot?#iefix");
    src:url("/assets/fonts/8d728fb6-34b2-4252-92cd-6223bec46b53.eot?#iefix") format("eot"),url("/assets/fonts/2799f5d3-78e9-40d4-94e5-4d6446f3ae5b.woff2") format("woff2"),url("/assets/fonts/f4e8452d-e7a4-4595-b6ee-0e98aa8eadb4.woff") format("woff"),url("/assets/fonts/5d12c8be-abe2-4f10-b705-25ad45a1f699.ttf") format("truetype"),url("/assets/fonts/878bb582-c61b-40f1-bbac-7b7c3e58fa82.svg#878bb582-c61b-40f1-bbac-7b7c3e58fa82") format("svg");
}
@font-face{
    font-family:"Cabrito Sans W01 Ext Book";
    src:url("/assets/fonts/f38e9d2f-aa50-4a9d-8c7d-242abf1a9a4f.eot?#iefix");
    src:url("/assets/fonts/f38e9d2f-aa50-4a9d-8c7d-242abf1a9a4f.eot?#iefix") format("eot"),url("/assets/fonts/5f9155ef-2494-462d-b090-ddc79732b2d8.woff2") format("woff2"),url("/assets/fonts/85b3f48f-a4f7-4205-b98e-e46fa8031ab2.woff") format("woff"),url("/assets/fonts/d9ac1e43-fd15-4e67-ace0-d6114639709a.ttf") format("truetype"),url("/assets/fonts/b68645d5-1f9c-4683-a8ff-812a3ed53f7f.svg#b68645d5-1f9c-4683-a8ff-812a3ed53f7f") format("svg");
}
@font-face{
    font-family:"Cabrito Sans W01 Norm Demi";
    src:url("/assets/fonts/81691fc9-37c9-47a5-b820-cc7b96c883ad.eot?#iefix");
    src:url("/assets/fonts/81691fc9-37c9-47a5-b820-cc7b96c883ad.eot?#iefix") format("eot"),url("/assets/fonts/2e2ee262-b702-4ddd-b13e-885ada52c314.woff2") format("woff2"),url("/assets/fonts/86f54a19-a25c-4b03-a40a-6b1bc96e6854.woff") format("woff"),url("/assets/fonts/31507c58-6559-4585-9eab-61a35be060fa.ttf") format("truetype"),url("/assets/fonts/3794f1c2-54d3-4761-bede-22b6b8ef22d5.svg#3794f1c2-54d3-4761-bede-22b6b8ef22d5") format("svg");
}
@font-face{
    font-family:"Cabrito Sans W01 Norm Bold";
    src:url("/assets/fonts/5b79bc0c-656b-49e0-a2ff-20be2e9de4cd.eot?#iefix");
    src:url("/assets/fonts/5b79bc0c-656b-49e0-a2ff-20be2e9de4cd.eot?#iefix") format("eot"),url("/assets/fonts/f13bfc3b-0642-4573-8ae7-5bd509aea920.woff2") format("woff2"),url("/assets/fonts/b5cf7ae3-6573-49c8-b2b1-8d7b05ad1fee.woff") format("woff"),url("/assets/fonts/ebb18e46-a54f-4515-952c-e4686e5450f7.ttf") format("truetype"),url("/assets/fonts/8cba8c91-108f-405e-a755-3853740ae53c.svg#8cba8c91-108f-405e-a755-3853740ae53c") format("svg");
}


